<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CPSC113 Social Todo 2.0", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <li><%= link_to "Profile Picture", edit_user_path(current_user) %></li>
        <% else %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>